@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto+Mono&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/* Css for navigation and landing page */
#home {
    position: sticky;
    top: 0;
    z-index: 10;

}

header,
section {
    overflow-x: hidden;
} 

header .row {
    background-size: cover;
    background-position: center;
    background-image: url('../assets/wave.svg');
    height: 100vh;
}

nav{
    background-color: #00c4bd;
    height: 4rem;
}

.navbar-light .navbar-brand{
    color: ivory;
}

.navbar-light .navbar-nav .nav-link{
    color: ivory;
    font-size: 20px;
}


.dropdown-menu{
    width: -webkit-fill-available;
    text-align: center;
    font-size: large;
    color: #242B36;
    border: none;
    padding: 0;
}

.dropdown-item:focus,.dropdown-item:hover{
    color: white;
    background-color: rgb(0,196,189);
}

header .navbar-brand {
    padding-left: 1.2rem;
    padding-bottom: 10px;
    font-family: 'Oswald', sans-serif;
    color: ivory;
    font-size: 2rem;
}

#landing{
    margin-top: 4rem;
}


.carousel-indicators li{
    width: 12px;
    height: 12px;
    border: 1px solid transparent;
    border-radius: 8px;
}

/* .carousel-item {
    position: relative;
} */

.main-text{
    font-weight: 900;
    color: #242B36;
}

.sub-text{
    color: rgba(36,43,54,0.8);
}

.btn-success {
    background-color: #ff0056;
    border: none;
    font-family: 'Roboto', sans-serif;
    padding: 10px 10px;
    font-weight: 400;
    cursor: pointer;
}

.btn-success:hover{
    background-color: rgba(246,69,106);
}


/* Css for courses section */
.section-heading {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    padding-bottom: 1rem;
}

.row {
    padding-top: 2rem;
}

.card-body {
    text-align: center;
}

.sub-card {
    padding: 0 3.5rem 0;
}

.card {
    border-radius: 10%;
    background-color: ivory;
}

#subjects {
    padding: 2.5rem 2.5rem 1rem;
    margin: 50px 0 0;
    background-color:rgba(0,196,189,0.7);
}


/* Footer Css */
#footer {
    background:#01c5c4;
    color: #fff;

}

.footer-img {
    width: 100%;
}

.footer-box {
    padding: 10px;
}

.footer-box img {
    width: 120px;
    margin-bottom: 20px;
}

.footer-box .fa {
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);


}


.form-control {
    box-shadow: none !important;
    border: none;
    border-radius: 10px;
    margin-top: 25px;
    max-width: 250px;

}

.footer-box .btn-primary {
    box-shadow: none !important;
    border: none;
    border-radius: 10;
    margin-top: 30px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);

}

.copyright {
    margin-bottom: 0;
    padding-bottom: 20px;
    padding-top: 10px;
    text-align: center;
    border-top: 1px solid white;
}

.logo {
    width: 45px !important;
    height: 50px;
}

.ccube {
    position: relative;
    text-align: center;
    margin-left: 10px;
    font-weight: 600;
    color: white;
    font-size: 1.5em;
    margin-top: 0;
    top: -29px;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;

}



/* Why join us CSS */
.title1 {
    font-family: 'Oswald', sans-serif;
    padding-top: 8pt;
    padding-bottom: 20pt;
    align-items: center;
    text-decoration: solid;
}

.Features {
    padding-top: 20pt;
    padding-bottom: 10rem;
    width: 100%;
    height: auto;
    margin: px 0;
    text-align: center;
    text-shadow: #5f1782;

}

.extra-div {
    background: #fff;
    padding: 10px 0;
    margin: 0 5px;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: 0.3s;
}

@media (min-width: 768px){
.Features  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 32%;
    max-width: 33.333333%;
}
}

.extra-div h2 {
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px 0 15px 0;
    font-weight: 400;
    line-height: 1.1;
    word-spacing: 4px;
}

.extra-div:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-20px);
    transition: 0.5s;
}



/* .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 12px 8px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
    width: 343px;
} */
.box {
    height: 400px;
    border: 1px solid black;
    margin: 5px 0;
    padding: 0px;


}

.box img {
    height: 160px;
    margin: auto;
    display: block;
}

.box p {
    font-family: 'Bree Serif', serif;

}

.moving-body {
    background: white;
    padding: 3px;
    height: 350px;
    opacity: 0.89;
}

.par {
    text-align: center;
    font-size: 20px;
    padding: 4px;
    border-bottom: 2px solid #afafaf;
}



/* Announcements */
.text {
    text-align: start;
}

.card1 {
    background-color: white;
    border: 1px solid transparent;
    border-radius: 27px;
}

.news {
    background:#01c5c4;
    border: 3px solid black;
    border-radius: 20px;
}

.card-body1 {
    height: 400px;
    text-align: center;

}

.eventDate {
    text-align: center;
    padding: 0;
    margin-bottom: -50px;
    margin-top: 0;

}

.event {
    background-color: #6b026b;
    margin-left: 10px;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 10px;
    font-weight: 400;
    width: 70px;
    height: 50px;
}

.par {
    font-size: 15px;
    border-bottom: 2px solid #afafaf;
}

.par a {
    color: rgba(4, 2, 107, 0.733);
    font: 12px sans-serif;
    ;
}

.par1 {
    font-size: 5px;
}

.par1 a {
    color: rgb(4, 52, 114);
    font-size: 15px;
}

/* CSS FOR GET STARTED */
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffd5cd;
    border-radius: 10%;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
    display: inline-block;
    margin: 3rem;
    margin-bottom: 5rem;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: transparent;
    color: black;
}

/* Style the back side */
.flip-card-back {
    background-color: #f08a5d;
    color: #ffd5cd;
    transform: rotateY(180deg);
    padding-top: 3rem;
}

.flip-card .btn {
    margin-top: 6rem;
}

/* image */
.image {
    opacity: 0.7;
    width: 300px;
    height: 300px;
}
.up{
  position: relative;
  z-index: 1;
  background-image: url('../assets/classroom.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.subjects {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#footer{
  position: fixed;
  z-index: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;

}
.bottom-box {
    display: block;
}
.trans {
  width: 100%;
  height: 50rem;
  background: transparent;
}

/* Games CSS */
.games{
  margin-top: 4rem;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color:rgba(0,196,189,0.7);
}


#carouselExampleControls1 img{
    width: 500px;
    height: 300px;
}

/* FORM */

#footer{
    padding: 0 15%;
}

.formBox{
    margin-top: 4rem;
	margin-bottom: 20px;
}
.formBox  h1{
	margin: 0;
	padding: 0;
	text-align: center;
	/* margin-bottom: 50px; */
	text-transform: uppercase;
	font-size: 48px;
}
.inputBox{
	position: relative;
	box-sizing: border-box;
	/* margin-bottom: 50px; */
}
.inputBox .inputText{
	position: absolute;
    font-size: 24px;
    line-height: 50px;
    transition: .5s;
    opacity: .5;
}
.inputBox .input{
	position: relative;
	width: 100%;
	height: 50px;
	background: transparent;
	border: none;
    outline: none;
    font-size: 24px;
    border-bottom: 1px solid rgba(0,0,0,.5);

}
.focus .inputText{
	transform: translateY(-30px);
	font-size: 18px;
	opacity: 1;
	color: #00bcd4;

}
.button{
	width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background: #03A9F4;
    color: #fff;
}
.te{
  padding-top: 10px;
}

.te p{
    margin-top: 0;
    margin-bottom: 0.4rem;
}
