@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto+Mono&display=swap');


* {
    box-sizing: border-box;
}


.up {
    background: #0ec0b9
}


header {
    background: #0ec0b9;

    background-size: cover;
    width: 100%;
    background-position: center;
    height: 130vh;
}

.navbar-toggler-icon {
    /* display: inline-block; */
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

.nav-item {
    padding: 2px 10px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 200pt;
    font-size: 20pt;
    color: white;
    text-transform: uppercase;
    transition: 0.4s ease-in;
    /*z-index: 3;*/

}

.nav-link {
    color: rgb(26, 199, 190);
}

/*.nav-item:hover {
    background-color: rgb(252, 252, 252);
    color: black;*/



/*header .navbar-expand-lg {
    z-index: 1030;
}*/

.navbar nav {
    margin-right: 39pt;
}


.navbar-brand {
    padding-left: 0.5rem;
    font-family: "Roboto", sans-serif;
    color: ivory;
    font-size: 100pt;

}

.navbar-brand :hover {
    background: yellow;
    color: yellow;
}

.sideNav {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 100;
    right: 0;
    background-color: rgb(51, 51, 51);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sideNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 13px;
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    transition: 0.3s ease-in;
}

.sideNav a:hover {
    font-weight: bold;
    color: black;
    background-color: white;
}

.openside .sideNav .closeBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

button {
    padding: 10px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 15px;
    right: 0;
    border: none;
    border-radius: 2%;
}

.main-content {
    transition: 0.5s;
}

.left-sidebar {
    background-color: rgb(58, 56, 56);
    color: white;
    padding-top: 0px;
    position: fixed;
    left: 0;
    width: 220px;
    height: 100%;
    box-sizing: border-box;

}

.header-text {
    align-self: center;
    width: 60%;

    margin: 0 auto;
}

.left-sidebar ul li {
    color: white;
    display: block;
    width: 70%;
    line-height: 40px;
    text-decoration: none;
    padding: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(225, 225, 225, 0.05);
    transition: 0.5s;
    box-sizing: border-box;
    cursor: pointer;
    padding: 8px 8px 8px 32px
}

.left-sidebar ul li a {
    color: white;
    display: block;
    font-family: 'Roboto Mono', monospace;
    font-weight: 40pt;
    font-size: 11pt;
}

.left-sidebar ul li a .fas {
    width: 25px;
}



.left-sidebar ul li a:hover {
    padding-left: 10pt;
    font-weight: bold;
    font-size: 11pt;

}




.header-text {
    align-self: center;
    width: 60%;

    margin: 0 auto;
}

.left-sidebar ul li {
    color: white;
    display: block;
    width: 80%;
    line-height: 40px;
    text-decoration: none;
    padding: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(225, 225, 225, 0.05);
    transition: 0.5s;
    box-sizing: border-box;
    cursor: pointer;


}

.left-sidebar ul li a {
    color: white;
    display: block;
    font-family: 'Roboto Mono', monospace;
    font-weight: 100pt;
    font-size: 11pt;
}

.left-sidebar ul li a .fas {
    width: 25px;
}





@media (max-width:850px) {
    .left-sidebar a span {
        display: none;
    }

    .left-sidebar {
        width: 80px;
    }



    .left-sidebar ul li a .fas {
        width: 15px;
    }

    .container {
        width: 100%;
    }

    .left-sidebar a i {

        line-height: 50px;
        text-align: center;
        margin-left: 0;
        font-size: 15px;
    }
}

.button1 {

    padding: 10px 10px;
    font-size: x-large;
    font-weight: bold;
    font-family: monospace;
    cursor: pointer;
    box-shadow: #025552;
}

.btn1 {
    border: black;
    background: rgb(197, 7, 7);
    color: white;
}

.btn2 {
    border: black;
    margin-top: 30pt;
    background: rgba(28, 47, 218, 0.836);
    color: white;

}

.btn2:hover {
    background-color: red;
    color: black;
}

.btn1:hover {
    background-color: red;
    color: black;

}