@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto+Mono&display=swap');


* {
    box-sizing: border-box;


}

header,
section {
    overflow-x: hidden;
}

header {
    background-image: url(../assets/sam.jpg);
    background-size: cover;
    background-position: center;
    height: 140vh;
}

header .nav-item:last-child {
    padding-right: 5.5em;
}

.navbar-toggler-icon {
    /* display: inline-block; */
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

header .nav-item {
    padding: 0.9em;
    font-family: 'Roboto Mono', monospace;
    font-weight: 800;
    font-size: 15pt;
    text-transform: uppercase;
    z-index: 3;

}

header .navbar-brand {
    padding-left: 1.2rem;
    font-family: 'Oswald', sans-serif;
    color: ivory;
    font-size: 40pt;

}

header .nav-link:hover {
    color: black;
}

header .nav-link {
    color: white;
}


.carousel-inner {
    padding-left: 10rem;
}
.section-heading{
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    padding-bottom: 1rem;
  }
.row{
    padding-top: 2rem;
  }
.card-body{
    text-align: center;
  }
  .sub-card{
    padding: 0 3.5rem 0;
  }

  .card{
    border-radius: 10%;
    background-color: ivory ;
  }
  #subjects{
    padding: 2.5rem 2.5rem 1rem;
    background-color: #0EC0B9;
    border-radius: 20%;
  }
  #subjects1{
    padding: 2.5rem 2.5rem 1rem;
    /* background-color: #0EC0B9; */
    border-radius: 20%;
  }
  /* .title-heading{
    background-color: ivory;
    margin: auto 3rem auto;
    padding-bottom: 0.5rem;
    border-style: double;
  } */
  .col-md-6{
    margin-bottom:3rem;
  }
  /* .row{
    margin 0 100px 0;
  } */

#footer{
    background: #0ec0b9;
    color: #fff;

}

.footer-img{
    width: 100%;
}

.footer-box{
    padding: 10px;
}

.footer-box img{
    width: 120px;
    margin-bottom: 20px;
}

.footer-box .fa{
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);


}


.form-control{
    box-shadow: none !important;
    border: none;
    border-radius: 10px;
    margin-top: 25px;
    max-width: 250px;

}

.footer-box .btn-primary{
    box-shadow: none !important;
    border: none;
    border-radius: 10;
    margin-top: 30px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);

}
.copyright{
    margin-bottom: 0;
    padding-bottom: 20px;
    padding-top: 10px;
    text-align: center;
    border-top: 1px solid white;
}

.logo{
    width: 60px !important;
    height: 70px;
}

.ccube {
    position: relative;
    text-align: center;
    margin-left: 10px;
    font-weight: 600;
    color: white;
    font-size: 1.5em;
    margin-top: 0;
    top: -29px;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;

}




.title1 {
    font-family: 'Oswald', sans-serif;
    padding-top: 8pt;
    padding-bottom: 20pt;
    align-items: center;
    text-decoration: solid;
}

.Features {
    padding-top: 20pt;
    width: 100%;
    height: auto;
    margin: px 0;
    text-align: center;

}

.extra-div {
    background: #fff;
    border: medium none;
    padding: 20px !important;
    border-radius: 3px;
    transition: 0.3s;
}

.extra-div h2 {
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px 0 15px 0;
    font-weight: 400;
    line-height: 1.1;
    word-spacing: 4px;
}

.extra-div:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
}



/* .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 12px 8px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
    width: 343px;
} */
.box {
    height: 400px;
    border: 1px solid black;
    margin: 5px 0;
    padding: 0px;


  }

.box img{
   height: 160px;
   margin: auto;
   display: block;
}

.box p{
    font-family: 'Bree Serif', serif;

}

.moving-body{
    background: white;
    padding: 3px;
    height: 350px;
    opacity: 0.89;
}

.par{
    text-align: center;
    font-size: 20px;
    padding: 4px;
    border-bottom: 2px solid #afafaf;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffd5cd;
  border-radius: 10%;
}
.flip-card {
  background-color: transparent;
  width: 400px;
  height: 300px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  display: inline-block;
  margin: 3rem;
  margin-bottom: 5rem;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: transparent;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #f08a5d;
  color: #ffd5cd;
  transform: rotateY(180deg);
  padding-top: 3rem;
}

.btn{
  margin-top: 6rem;
}

/* image */
.image{
  opacity: 0.7;
  width: 400px;
  height: 300px;
}

.subjects{
  font-family: 'Oswald', sans-serif;
  text-align: center;
  background-color: #0ec0b9;
}
