*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d9d9d9;
}

.gel{
    width: 75%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    grid-gap: 20px;
}


.wrapper{
    height: 300px;
    width: 400px;
    background-color: white;
    grid-column: 1/2;
    grid-row: 1/-1;
    border-radius: 12px;

}

.item1{
    grid-row: 1/2; 
    background-color: white;
    border-radius: 12px;
}

.item2{
    grid-row: 2/3; 
    background-color: white;
    border-radius: 12px;
}


@mixin circle($size) {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - #{$size/2});
    top: calc(50% - #{$size/2});
    width: $size;
    height: $size;
  }
  
  $size: 200px;
  .progress-pie-chart {
    width: $size;
    height: $size;
    border-radius: 50%;
    background-color: #E5E5E5;
    position: relative;
    &.gt-50 {
      background-color: #ffcc00;
    }
  }
  .ppc-progress {
    @include circle($size);
    clip: rect(0, $size, $size, #{$size/2});
    .ppc-progress-fill {
      @include circle($size);
      clip: rect(0, #{$size/2}, $size, 0);
      background: #ffcc00;
      transform: rotate(60deg);
    }
    .gt-50 & {
      clip: rect(0, #{$size/2}, $size, 0);
      .ppc-progress-fill {
        clip: rect(0, $size, $size, #{$size/2});
        background: #E5E5E5;
      }
    }
  }
  .ppc-percents {
    @include circle(#{$size/1.15});
    background: #fff;
    text-align: center;
    display: table;
    span {
      display: block;
      font-size: 2.6em;
      font-weight: bold;
      color: #ffcc00;
    }
  }
  .pcc-percents-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  
  .progress-pie-chart {
    margin: 50px auto 0;
  }

/* .wrapper{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-auto-rows: 100px ;
    grid-auto-rows: minmax(100px, auto);
}

.wrapper > div{
    background: #eee;
    padding: 1em;
    
}

.wrapper > div:nth-child(odd){
    background: #ddd;
} */

