* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1{
  text-align: center;
}


body {
  background-color:  rgb(230, 230, 230);
  font-family: 'Lato', sans-serif;
}

.gel {
  width: 1068px;
  margin: 50px auto;
  margin-top: 10px;
  display: grid;
  /* -ms-grid-columns: 1fr 1fr; */
  grid-template-columns: 1fr 1fr;
  /* -ms-grid-rows: 1fr 1fr; */
  /* grid-template-rows: 100% 0%; */
  grid-gap: 20px;
}

.wrapper {
  /* height: 400px; */
  width: 700px;
  background-color: white;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  grid-row: 1/-1;
  border-radius: 12px;
  padding: 20px;
}

.items{
  display: grid;;
  grid-template-columns: 100% 0;
  grid-template-rows: 50% 50%;
}

.item1 {
  height: 93%;
  grid-row: 1;
  background-color: white;
  border-radius: 12px;
  margin-bottom: 5%;
  padding: 20px;
}

.item2 {
  height: 93%;
  grid-row: 2;
  background-color: white;
  border-radius: 12px;
  margin-top: 5%;
  padding: 20px;
}

.progress1{
  position: relative;
  top: 96%;
}

#image1, #image2{
  margin: 14px;
}

/*progress pie chart*/
.progress-pie-chart {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #E5E5E5;
  position: relative;
}

.progress-pie-chart.gt-50 {
  background-color: #ffcc00;
}

.ppc-progress {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 200px, 200px, 100px);
}

.ppc-progress .ppc-progress-fill {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 100px, 200px, 0);
  background: #ffcc00;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.gt-50 .ppc-progress {
  clip: rect(0, 100px, 200px, 0);
}

.gt-50 .ppc-progress .ppc-progress-fill {
  clip: rect(0, 200px, 200px, 100px);
  background: #E5E5E5;
}

.ppc-percents {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 173.91304px/2);
  top: calc(50% - 173.91304px/2);
  width: 173.91304px;
  height: 173.91304px;
  background: #fff;
  text-align: center;
  display: table;
}

.ppc-percents span {
  display: block;
  font-size: 2.6em;
  font-weight: bold;
  color: #ffcc00;
}

.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.progress-pie-chart {
  margin: 50px auto 0;
}

/* progress bar*/
.progress { 
  margin: 50px auto;
  margin-bottom: 2px;
  background-color: #E5E5E5; 
  width: 80%; 
  border-radius: 15px; 
} 

.progress1 { 
  margin: 5px auto;
  margin-bottom: 2px;
  background-color: #E5E5E5; 
  width: 80%; 
  border-radius: 15px; 
} 

.progress2 { 
  margin: 1px auto;
  margin-bottom: 2px;
  background-color: #E5E5E5; 
  width: 80%; 
  border-radius: 15px; 
} 

.progress-bar { 
  background-color: #ffcc00; 
  color: white; 
  padding: 1.5%; 
  text-align: right; 
  font-size: 20px; 
  border-radius: 15px; 
} 

.null{
  width: 43%;
}


/*my courses*/
.jelly{
  width: 1068px;
  height: 300px;
  margin: 50px auto;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr; 
  grid-gap: 20px;
}

.course-iteam{
  background-color: white;
  border-radius: 12px;
  padding: 20px;
}

#image3{
  float: left;
  height: 60px;
}

.image{
  height: 200px;
  width: 200px;
}

button{
  text-decoration: none;
  float: right;
  right: 20px;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  border: 3px solid white;
  background-color: #ffcc00;
  padding: 20px 30px;
  transition: all 0.3s;
  overflow: hidden;
  position: relative;
  border-radius: 50px;
}

button:hover{
  background-color: #F44336;
}

button:before{
  content: '';
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  position: absolute;
  transform: translateX(-100%) translateY(12%) rotate(50deg);
  transition: all 0.3s;
}

button:hover:before{
  transform: translateX(100%) translateY(12%) rotate(50deg);
}

/* RESPONSIVENESS */

@media ( max-width : 1090px){
  .gel{
    width: 80%;
    grid-template-rows: 7fr 3fr;
    grid-template-columns: 1fr;
  }

  .wrapper{
    width: 100%;
  }

  .items{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0;
  }

  .item2{
    grid-row: 1;
  }

  .item1 , .item2{
    margin-top: 0;
    margin-bottom: 0 ;
  }

  .item1{
    margin-right: 5%;
  }
  
  .item2{
    margin-left: 5%;
  }

  .jelly{
    grid-template: 1fr 1fr 1fr / 1fr;
    width: 80%;
  }

}

@media (max-width : 770px ){
  .gel{
    width: 80%;
    grid-template-rows: 7fr 4fr;
    grid-template-columns: 1fr;
  }

  .items{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .item1 ,.item2{
    margin-right: 0;
    margin-left: 0;
  }

  .item1 ,.item2{
    margin-top: 5%;
  }

  .item2{
    grid-row: 2;
  }
}

/* */
/*# sourceMappingURL=style.css.map */