.centered {
  position: absolute;
  top: 49.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffd5cd;
  border-radius: 10%;
}
.left {
  position: absolute;
  top: 49.5%;
  left: 37.25%;
  transform: translate(-50%, -50%);
  background-color: #ffd5cd;
  border-radius: 10%;
}
.right {
  position: absolute;
  top: 49.5%;
  left: 62.75%;
  transform: translate(-50%, -50%);
  background-color: #ffd5cd;
  border-radius: 10%;
}
.colour{
  background-color: red;
}
