@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto+Mono&display=swap');


* {
    box-sizing: border-box;
}


/* Css for navigation and landing page */
#home {
    position: sticky;
    top: 0;
    z-index: 10;

}

.container {
    background: #0ec0b9;
}


header,
section {
    overflow-x: hidden;
}

header {
    background-size: cover;
    background-position: center;
    height: 130vh;
}



.navbar-toggler-icon {
    /* display: inline-block; */
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

header .nav-item {
    padding: 2px 10px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 200pt;
    font-size: 22pt;
    color: white;
    text-transform: uppercase;
    transition: 0.4s ease-in;
    /*z-index: 3;*/

}

.nav-link {
    color: rgb(26, 199, 190);
}

/*.nav-item:hover {
    background-color: rgb(252, 252, 252);
    color: black;*/



/*header .navbar-expand-lg {
    z-index: 1030;
}*/


.navbar-brand {
    padding-left: 0.5rem;
    font-family: "Roboto", sans-serif;
    color: ivory;
    font-size: 100pt;

}

.navbar-brand :hover {
    background: yellow;
    color: yellow;
}

.btn {

    padding: 10px 10px;
    font-size: x-large;
    font-weight: bold;
    font-family: monospace;
    cursor: pointer;
    box-shadow: #0ec0b9;
}

.btn1 {
    border: black;
    background: rgb(197, 7, 7);
    color: white;
}

.btn2 {
    border: black;
    margin-top: 30pt;

    background: rgba(28, 47, 218, 0.836);
    color: white;

}

.btn2:hover {
    background-color: red;
    color: black;
}

.btn1:hover {
    background-color: red;
    color: black;
}

.left-sidebar {
    background-color: rgb(58, 56, 56);
    color: white;
    margin-top: 10px;
    padding-top: 80px;
    position: fixed;
    left: 0;
    width: 220px;
    height: 100%;
    box-sizing: border-box;

}

.header-text {
    align-self: center;
    width: 60%;

    margin: 0 auto;
}

.left-sidebar ul li {
    color: white;
    display: block;
    width: 80%;
    line-height: 40px;
    text-decoration: none;
    padding: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(225, 225, 225, 0.05);
    transition: 0.5s;
    box-sizing: border-box;
    cursor: pointer;


}

.left-sidebar ul li a {
    color: white;
    display: block;
    font-family: 'Roboto Mono', monospace;
    font-weight: 100pt;
    font-size: 11pt;
}

.left-sidebar ul li a .fas {
    width: 25px;
}



.left-sidebar ul li a:hover {
    background: white;
    color: black;
}


label #left-sidebar-btn {
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}

label #left-sidebar-btn:hover {
    color: #0ec0b9;
}

#menu {
    display: none;
}




.right-sidebar {
    background-color: rgb(58, 56, 56);
    color: yellow;
    margin-top: 10px;
    padding-top: 80px;
    position: fixed;
    right: 0;
    width: 220px;
    height: 100%;
    box-sizing: border-box;
    opacity: 100%;

}

.right-sidebar ul li {
    color: white;
    display: block;
    width: 80%;
    line-height: 20px;
    text-decoration: none;
    padding: 2px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(225, 225, 225, 0.05);
    transition: 0.5s;
    box-sizing: border-box;
    cursor: pointer;


}

.right-sidebar ul li a {
    color: white;
    display: block;
    font-family: 'Roboto Mono', monospace;
    font-weight: 50pt;
    font-size: 9pt;
}

.right-sidebar ul li a .fas {
    width: 25px;
}



.right-sidebar ul li a:hover {
    background: white;
    color: black;
}



label #sidebar-btn {
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 400px;
    font-size: 20px;
    margin: 5px 0;


}


@media (max-width:850px) {
    .left-sidebar a span {
        display: none;
    }

    .left-sidebar {
        width: 80px;
    }

    .right-sidebar {
        width: 8S0px;
        font-size: 4px;
    }

    .left-sidebar ul li a .fas {
        width: 15px;
    }

    .container {
        width: 100%;
    }

    .left-sidebar a i {

        line-height: 50px;
        text-align: center;
        margin-left: 0;
        font-size: 15px;
    }
}

@media (max-width:650px) {
    nav ul {
        display: none;
    }


    .right-sidebar {
        display: none;
    }

    .right-sidebar {
        display: none;
    }

    .container {
        width: 100%;
    }

    .carousel-cont carousel item {
        display: none;

    }

}

@media (max-width:400px) {
    .carousel-cont carousel item {
        display: none;
    }

    .container {
        width: 100%;


    }
}