@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    box-sizing: border-box;
}


body {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

#wrapper {
    padding: 10px;
    background: rgb(247, 244, 244);
}

#center {
    height: 1350px;
}

#left {
    margin-top: 10pt;
    width: 200px;
    float: left;

}

#right {
    float: right;
    width: 300px;
    margin-top: 10pt;

}



#header {
    background: white;
    box-shadow: 12px 0px 19px rgb(223, 222, 222);
    height: 60pt;

}

.navbar-toggler-icon {
    /* display: inline-block; */
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    margin-bottom: 26pt;
}

.nav-item {
    padding: 2px 10px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: 15pt;
    text-transform: uppercase;
    color: white;
    transition: 0.4s ease-in;
    padding-bottom: 40pt;
    /*z-index: 3;*/

}

.nav-link {
    color: black;
    display: block;
}




.navbar-expand-lg {
    z-index: 1030;
}



.navbar-brand {
    padding-left: 0.6rem;
    font-family: 'Roboto Condensed', sans-serif;
    color: #6b026b;
    font-weight: bold;
    font-size: 30pt;
    padding-bottom: 40pt;

}



.left-sidebar1 {
    background: white;
    box-shadow: 12px 0px 19px rgb(223, 222, 222);
    margin: 0;
    padding: 0;

}



.left-sidebar1 a {
    font-size: 13px;
    padding: 9px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    color: rgba(160, 157, 157, 0.84);
    display: block;

}

.left-sidebar1 a {
    color: rgba(78, 78, 78, 0.84);

    text-align: left;


}

.left-sidebar1 a:hover {
    padding-left: 14pt;
    color: black;
}



.bar {
    background: white;
    box-shadow: 12px 0px 19px rgb(223, 222, 222);
    margin-top: 20pt;
}

.bar a {
    font-size: 13px;
    padding: 10px;
    line-height: 1;
    background-color: transparent;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    color: rgba(99, 98, 98, 0.84);
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    text-align: left;

}

.bar a:hover {
    padding-left: 14pt;
    color: black;
}

.bar2 {
    background: white;
    box-shadow: 12px 0px 19px rgb(223, 222, 222);
    margin-top: 20pt;
}

.bar2 a {
    font-size: 13px;
    padding: 10px;
    line-height: 1;
    background-color: transparent;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    color: rgba(99, 98, 98, 0.84);
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    text-align: left;

}

.bar2 a:hover {
    padding-left: 14pt;
    color: black;
}




.search {
    padding: 20pt 20pt 20pt 20pt;
    background: white;
    height: 70pt;
    box-shadow: 12px 0px 19px rgb(228, 226, 226);

}





/* Style the submit button */



.text {
    text-align: start;
}

.announcements {
    margin-right: 10px;
}

.card1 {
    margin-top: 30pt;
    background: white;
    height: 300pt;
    width: 440pt;
    box-shadow: 12px 0px 19px rgb(228, 226, 226);
}




.news {
    background: #0ec0b9;
    border: 3px solid black;
    font-size: 15pt;
}

.card-body1 {
    height: 400px;
    text-align: center;
}

.eventDate {
    text-align: center;
    padding: 0;
    margin-bottom: -40px;
    font-size: 10pt;

}

.event {
    background-color: #6b026b;
    color: #fff;
    font-weight: 400;
    width: 40px;
    font-size: 10pt;
}



.right-sidebar {
    margin-top: 30pt;
    display: block;
    background: white;
    box-shadow: 12px 0px 19px rgb(228, 226, 226);

}



.right-sidebar a {
    font-size: 13px;
    padding-top: 10pt;
    padding: 6px;
    line-height: 2;
    background-color: transparent;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    color: rgba(0, 0, 0, .84);
    border: gray;
    display: grid;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(225, 225, 225, 0.05);
}

.right-sidebar a {
    color: rgba(0, 0, 0, .84);

    text-align: left;
    flex: 1;

}

.right-sidebar a:hover {
    padding-left: 14pt;
}

@media (max-width:850px) {
    #right {
        display: none;
    }
}