@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto+Mono&display=swap');

* {
    box-sizing: border-box;


}


header,
section {
    overflow-x: hidden;
}

header {
    background-image: url(../assets/sam.jpg);
    background-size: cover;
    background-position: center;
    height: 140vh;
}

header .nav-item:last-child {
    padding-right: 5.5em;
}

header .navbar navbar-expand-lg fixed navbar {
    color: blue;
}

header .nav-item {
    padding: 0.9em;
    font-family: 'Roboto Mono', monospace;
    font-weight: 800;
    font-size: 15pt;
    text-transform: uppercase;

}

header .navbar-brand {
    padding-left: 4rem;
    font-family: 'Oswald', sans-serif;
    color: ivory;
    font-size: 40pt;

}

header .nav-link:hover {
    color: black;
}

header .nav-link {
    color: white;
}
.section-heading{
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  padding-bottom: 1rem;
}
.row{
  padding-top: 2rem;
}
body{
  text-align: center;
}
.card-body{
  text-align: center;
}
.sub-card{
  padding: 0 3.5rem 0;
}
.card{
  border-radius: 10%;
  background-color: #ffd5cd ;
}
#subjects{
  padding: 2.5rem 2.5rem 1rem;
  background-color: #f08a5d;
}
.title-heading{
  background-color: #ffd5cd;
  margin: auto 3rem auto;
  padding-bottom: 0.5rem;
  border-style: double;
}
.col-md-6{
  margin-bottom:3rem;
}
/* .row{
  margin 0 100px 0;
} */
