@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto+Mono&display=swap');

* {
    box-sizing: border-box;


}


header,
section {
    overflow-x: hidden;
}

header {
    background-image: url(../assets/sam.jpg);
    background-size: cover;
    background-position: center;
    height: 140vh;
}

header .nav-item:last-child {
    padding-right: 5.5em;
}

.navbar-toggler-icon {
    /* display: inline-block; */
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

header .nav-item {
    padding: 0.9em;
    font-family: 'Roboto Mono', monospace;
    font-weight: 800;
    font-size: 15pt;
    text-transform: uppercase;
    z-index: 3;

}

header .navbar-brand {
    padding-left: 1.2rem;
    font-family: 'Oswald', sans-serif;
    color: ivory;
    font-size: 40pt;

}

header .nav-link:hover {
    color: black;
}

header .nav-link {
    color: white;
}


.carousel-inner {
    padding-left: 10rem;
}