@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto+Mono&display=swap');




* {
    box-sizing: border-box;


}


.title {
    font-family: 'Oswald', sans-serif;
    padding-top: 8pt;
    padding-bottom: 20pt;
    align-items: center;
    text-decoration: solid;
}

.Features {
    padding-top: 20pt;
    width: 100%;
    height: auto;
    margin: px 0;
    text-align: center;

}

.extra-div {
    background: #fff;
    border: medium none;
    padding: 20px !important;
    border-radius: 3px;
    transition: 0.3s;
}

.extra-div h2 {
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px 0 15px 0;
    font-weight: 400;
    line-height: 1.1;
    word-spacing: 4px;
}

.extra-div:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto+Mono&display=swap');

* {
    box-sizing: border-box;


}


header,
section {
    overflow-x: hidden;
}

header {
    background-image: url(../assets/sam.jpg);
    background-size: cover;
    background-position: center;
    height: 140vh;
}

header .nav-item:last-child {
    padding-right: 5.5em;
}

header .navbar navbar-expand-lg fixed navbar {
    color: blue;
}

header .nav-item {
    padding: 0.9em;
    font-family: 'Roboto Mono', monospace;
    font-weight: 800;
    font-size: 15pt;
    text-transform: uppercase;

}

header .navbar-brand {
    padding-left: 4rem;
    font-family: 'Oswald', sans-serif;
    color: ivory;
    font-size: 40pt;

}

header .nav-link:hover {
    color: black;
}

header .nav-link {
    color: white;
}
.section-heading{
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  padding-bottom: 1rem;
}
.row{
  padding-top: 2rem;
}
body{
  text-align: center;
}
.card-body{
  text-align: center;
}
.sub-card{
  padding: 0 3.5rem 0;
}
.card{
  border-radius: 10%;
  background-color: ivory ;
}
#subjects{
  padding: 2.5rem 2.5rem 1rem;
  background-color: #0EC0B9;
  border-radius: 20%;
}
/* .title-heading{
  background-color: ivory;
  margin: auto 3rem auto;
  padding-bottom: 0.5rem;
  border-style: double;
} */
.col-md-6{
  margin-bottom:3rem;
}
/* .row{
  margin 0 100px 0;
} */
