.centered{
  display: inline-block;
  position: absolute;
  top: 24%;
  left: 22%;
}
.calculations{
  position: absolute;
  top: 120%;
  left: 13%;
}
.number{
  display:inline-block;
}
.remaining{
  display: inline-block;
}
.path{
  text-align: left;
}
