@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.carousel-inner{
    height: 750px;
}

.carousel-caption{
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width: 100%; 
    background-color: rgba(0,0,0);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    opacity: 0.5;
    overflow: hidden;
}

.caption{
    top: 10%;
    height: 330px;
    overflow: hidden;
}

.caption2{
    height: 50px;
    overflow: hidden;
}

@keyframes slidein{
    from{ transform: translateY(100%);}
    to{ transform: translateY(0%);}
}

.carousel-caption h2{
    margin-top: 15%;
    text-transform: uppercase;
    font-size: 80px;
    animation: slidein 2s; 
    animation-delay: 0.5s;
}

.carousel-caption p{
    font-size: 30px;
    animation: slidein 2s; 
    animation-delay: 0.5s;
}

/* Navbar*/
ul{
    margin: 20px;
    padding: 0;
    display: flex;
    list-style-type: none;
    
}

ul li a{
    color: #272727;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0px 10px;
    position:relative;
    transition: all 0.5s;
}

ul li a:hover{
    background-color: #e91e63;
    color: white;
}

ul li a:before{
    content: "";
    position: absolute;
    bottom:12px;
    left: 12px;
    width: 12px;
    height: 12px;
    border: 3px solid #e91e63;
    border-width: 0 0 3px 3px; 
    opacity: 0;
    transition: all 0.3s;
}

ul li a:hover:before{
    opacity: 1;
    bottom: -8px;
    left: -8px; 
}

ul li a:after{
    content: "";
    position: absolute;
    top:12px;
    right: 12px;
    width: 12px;
    height: 12px;
    border: 3px solid #e91e63;
    border-width: 3px 3px 0 0; 
    opacity: 0;
    transition: all 0.3s;
}

ul li a:hover:after{
    opacity: 1;
    top: -8px;
    right: -8px; 
}


.contact{
    position: relative;
    min-height: 1000vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
    height: 500px;
    width: 2000px;  
}

.contact .content{
    max-width: 800px;
    text-align: center;
}




